

        <!-- Optional theme -->
        <!-- Latest compiled and minified JavaScript -->
        <style type="text/css">
            #content {
                display: table;
            }
            #articles {
                display: table-cell;
                width: 620px;
                padding-right: 20px;
            }
            aside {
                display: table-cell;
                width: 1100px;
                alignment-adjust: hanging;
                margin-left: initial;
            }
        </style>


        <style type="text/css">
            .ds-btn li{ list-style:none; float:left; padding:10px; }
            .ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
            .ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
        </style>

       


       
        <style type="text/css">
      
                .rating{
              color: #a9a9a9;
              margin: 0;
              padding: 0;
            }
            
            ul.rating {
              display: inline-block;
            }
            
            .rating li {
              list-style-type: none;
              display: inline-block;
              padding: 1px;
              text-align: center;
              font-weight: bold;
              cursor: pointer;
            }
            
            .rating .filled {
              color: #21568b;
            }
        </style>


        

        <style type="text/css">
            .blogShort{ border-bottom:1px solid #ddd;}
            .add{background: #333; padding: 10%; height: 300px;}
            
            .nav-sidebar { 
                width: 100%;
                padding: 8px 0; 
                border-right: 1px solid #ddd;
            }
            .nav-sidebar a {
                color: #333;
                -webkit-transition: all 0.08s linear;
                -moz-transition: all 0.08s linear;
                -o-transition: all 0.08s linear;
                transition: all 0.08s linear;
            }
            .nav-sidebar .active a { 
                cursor: default;
                background-color: #34ca78; 
                color: #fff; 
            }
            .nav-sidebar .active a:hover {
                background-color: #37D980;   
            }
            .nav-sidebar .text-overflow a,
            .nav-sidebar .text-overflow .media-body {
                white-space: nowrap;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis; 
            }
            
            .btn-blog {
                color: #ffffff;
                background-color: #37d980;
                border-color: #37d980;
                border-radius:0;
                margin-bottom:10px
            }
            .btn-blog:hover,
            .btn-blog:focus,
            .btn-blog:active,
            .btn-blog.active,
            .open .dropdown-toggle.btn-blog {
                color: white;
                background-color:#34ca78;
                border-color: #34ca78;
            }
             h1{color:#34ca78;}
             .margin10{margin-bottom:10px; margin-right:10px;}
            
            
            
            
            
            
            
                     .mt-100 {
                margin-top: 100px; 
            }
            .mb-100 {
                margin-bottom: 100px;
            }
            
            .icon {
                width: 32px;
                height: 32px;
                text-align: center;
                padding: 7px 8px;
                border: 2px solid;
                border-radius: 50%;
            }
            
            .header {
                padding-top: 50px;
                background-color: #eee;
                overflow: hidden;
                padding-left: 200px;
            }
            .footer {
                color: #887;
                background-color: #eee;
                padding-top: 30px;
                padding-bottom: 30px;
            }
            
            .content {
                position: relative;
                display: table;
                width: 100%;
                min-height: 100vh;
            }
            .pull-middle {
                display: table-cell;
                vertical-align: middle;
            }
            
            .btn {
                padding-left: 25px;
                padding-right: 25px;
            }
            .btn-circle {
                border-radius: 20px;
            }
            
            .input-group input {
                border: 0;
                box-shadow: none;
                padding-right: 30px;
            }
            .input-group input:focus,
            .input-group input:active {
                outline: 0;
                box-shadow: none;
            }
            .input-group-btn:last-child>.btn {
                z-index: 2;
                margin-left: -18px;   
                border-radius: 20px;
            }
            
            .phone {
                position: relative;
                max-width: 1063px;
                margin: 20px auto;
                padding: 65px 15px 55px;
                border: 2px solid #ddd;
                border-radius: 20px;
                background-color: #222;
                box-shadow: 20px 20px 40px #887;
            }
            
        </style>

        <!-- Latest compiled and minified CSS -->



<div class="phone">

  
  
  


     <div ng-controller="SingleDataFetch">
  
 
 
           
               
                     <aside>   <h1><b>{{ptis.Description}}</b></h1>   </aside>
 
                        <div ng-controller="CarouselDemoCtrl">
  
 <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
                    <a href="#">
                        <img ng-src="images/{{slide.image}}" style="height:300px; width:420px;" alt="300x200" >
                    </a>

            </slide>
     </carousel>


      
                            </div>
 <aside>
                     <section ng-controller="PanelController as panel">
                        <ul class="nav nav-pills">
                        <li ng-class="{active:panel.isSelected(1)}">
                        <a href ng-click="panel.selectTab(1)">Description</a>
 
                      
 
                        </li>
                            <li ng-class="{active:panel.isSelected(2)}">
                        <a href ng-click="panel.selectTab(2)">Specification</a>
                                
                        </li>
                            <li ng-class="{active:panel.isSelected(3)}">
                        <a href ng-click="panel.selectTab(3)">Review</a>
                               
                        </li>
                        </ul>
                         <div class="panel" ng-show="panel.isSelected(1)">
                        
                        <p>{{ptis.Description}}</p>
                    </div>
                     <div class="panel" ng-show="panel.isSelected(2)">
                    
                        <p>{{ptis.Specification}}</p>
                    </div>
                     <div class="panel" ng-show="panel.isSelected(3)">
                       
                        <p>{{ptis.Reviews}}</p>

                        <div  ng-repeat="preview in previews">
                         
                         <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addPreview(preview)">
                                 
                             <blockquote>
                         <b>Stars: {{reviewCtrl.preview.stars}}</b>
                             {{reviewCtrl.preview.body}}
                             <cite>by: {{reviewCtrl.preview.author}} </cite>
                                   </blockquote>
                                 <select ng-model="preview.stars">
                                 <option value="1">1 star</option>
                                  <option value="2">2 star</option></select>
                                 <textarea ng-model="preview.body"></textarea>
                                 <label>by:</label>
                                 <input type="email" ng-model="preview.author"/>
                                 <input type="submit" value="submit"/>
                                 </form>
                             </div>
                    </div>
 
                    </section>
     </aside>
                        <h1>{{ptis.Name}}</h1>
                    
                 
                   
 
                        <div ng-controller="RatingCtrl">
                    <div ng-init="rating = star.rating + 1"></div>
 
<div class="star-rating" star-rating rating-value="rating"
 
 data-max="10" on-rating-selected="rateFunction(rating)"></div></div>
                        
                       
                        </div>
           

  
</header>