<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Category</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- Page Content -->
        <div class="container">
            <!-- Page Search Button -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <h2>Show Dropdown Hover & Caret Up</h2>
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header col-md-8">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                           
                        </div>
 
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
 
                            <form class="navbar-form navbar-left" role="search">
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12" style="height:30px">
                                        <input type="text" class="form-control input-lg" placeholder="Search by Typing Here.." style="height:30px;font-size:15px " ng-model="search" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-info btn-lg" type="button">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
 
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </div>
 
            <!-- Page NavBar -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row vertical-center">
                        <nav class="navbar rowTwo  " role="navigation">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse " style="margin-left: 200px" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav ">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphic Desing <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav ">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marketing <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav ">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product Catalogue <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav ">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photography <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav ">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programming & Tech <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
 
                            </div><!-- /.navbar-collapse -->
                        </nav>
 
                    </div>
                </div>
            </div>
 
            <!--Page Panel for Add-->
            <div class="col-md-12 column">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p style="text-align: center">
                  Get up to 50% Paytm cash on Watches! <a href="https://paytm.com/shop/h/watches">Shop Now!</a> T&C's Apply.     </p>
                    </div>
                </div>
            </div>
 
            
            <!-- /.row -->
            <!-- Projects Row -->
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row">
                       
                       
                           

           <!-- <input type="text" ng-model="search" class="btn btn-danger btn-lg" placeholder="Search"> -->

                
 
                            <div ng-controller="DataFetchControl">
  <span ng-repeat="p in ptis|filter:search">
           
                <div class="col-md-4 ">
                    <div class="thumbnail">
 
                        
 
                    <a href="#">
                        <img ng-src="images/uploads/{{p.Images[0].image}}" style="height:200px; width:220px;"  alt="300x200" >
                    </a>


     
                    <h3>
                        <a href="#contact/{{$index}}">{{p.Result.Name}}</a>
                    </h3>
                        
                        
                    <!-- Ratings -->
 
                        <div ng-controller="RatingCtrl">
                    <div ng-init="rating = star.rating + 1"></div>
 
<div class="star-rating" star-rating rating-value="rating"
 
 data-max="10" on-rating-selected="rateFunction(rating)"></div></div>
                        
                        <section ng-controller="PanelController as panel">
                        <ul class="nav nav-pills">
                        <li ng-class="{active:panel.isSelected(1)}">
                        <a href ng-click="panel.selectTab(1)">Description</a>
 
                      
 
                        </li>
                            <li ng-class="{active:panel.isSelected(2)}">
                        <a href ng-click="panel.selectTab(2)">Specification</a>
                                
                        </li>
                            <li ng-class="{active:panel.isSelected(3)}">
                        <a href ng-click="panel.selectTab(3)">Review</a>
                               
                        </li>
                        </ul>
                         <div class="panel" ng-show="panel.isSelected(1)">
                        
                        <p>{{p.Result.Description}}</p>
                    </div>
                     <div class="panel" ng-show="panel.isSelected(2)">
                    
                        <p>{{p.Result.Specification}}</p>
                    </div>
                     <div class="panel" ng-show="panel.isSelected(3)">
                       
                        <p>{{p.Result.Reviews}}</p>

                         
                             <form name="reviewForm">
                                 <blockquote ng-repeat="review in reviews">
                         <b>Stars: {{review.stars}}</b>
                             {{review.body}}
                             <cite>by: {{review.author}} </cite>
                                   </blockquote>
                                 <select ng-model="review.stars">
                                 <option value="1">1 star</option></select>
                                  <option value="1">2 star</option></select>
                                 <textarea ng-model="review.body"></textarea>
                                 <label>by:</label>
                                 <input type="email"/>
                                 <input type="submit" value="submit"/>
                                 </form>
                       
                    </div>
 
                    </section>
                        </div>
                </div>
 
              </span>
</div>
                    </div>
                </div>
            </div>
               
            <!-- /.row -->
            <!-- Projects Row -->
            <!-- /.row -->
            <hr>
            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Your Website 2014</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>
        </div>