@CHARSET "ISO-8859-1";


div #D1{
    
    margin-left:80px;
}


div #R1{
    margin-left:120px;
}


div #A1{
    margin-left:160px;
}

div #K1{
    
    margin-left:200px;
}

div #U1{
    
    margin-left:240px;
}

div #L1{
    
    margin-left:280px;
}

div #A2{
    
    margin-left:320px;
}

div #H1{
        margin-left:360px;
}
     
div #Z1{
    
    margin-left:400px;
}
div #M1{
    
    margin-left:500px;
}
div #A3{
    
    margin-left:540px;
}

div #N1{
    
    margin-left:580px;
}
          div #I1{
    margin-left:620px;
}
div #A4{
    
    margin-left:660px;
}